
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html,body{
    overflow-x: hidden;
}

#gotoCartButton{
position: absolute;
right: 200px;
top: 55px;
padding: 5px 10px;
}

.leftSide-products{
    text-align: center;
    position: relative;
    width: 100%;
    
    }
.mainBox{
font-family: Arial, Helvetica, sans-serif;
margin-top: 60px;
display: flex;
margin-bottom: 50px;
}
.leftSide-products h1{
    text-align: center;
   margin: 50px;
   
}

.GridBox-mainBox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    width: 80%;
    margin: auto;
}

.gridBox-smallBox{

}

.gridBox-smallBox h3{
 margin:20px ;   
}

.gridBox-smallBox img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.controlPriceetAdd2Cart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px ;
}
.controlAllButton{
 margin-left: 15px;
 padding: 5px 10px;
 border: none;
 border-radius: 5px;
 font-weight: bold;
}

/* right side box -shopping cart*/

.XclosingCatBox{
    margin-top: 20px;
    margin-left: 20px;
cursor: pointer;
}

.rightSide-total{
background-color: lightgray;
/* width: 0%; */
width: 40%;
height: auto;
position: fixed;
z-index: 1;
right: -500px;
overflow-y: scroll;

}

.checkout-controlPriceAdd2cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:20px ;  
}

.topBox{
    width: 60%;
    margin: auto;
    margin-top: 50px;
}
.topBox img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* cart middle box  */

.controlCartTitle{
    text-align: center;
margin: 50px 0px 20px 0px ;
}


.cartBox-mainBox{

   display: grid;
   grid-template-columns: 2fr 1fr 2fr;
   padding: 15px;
  
}
.cartBox-mainBox h4{
    margin-bottom: 20px;
    text-align: center;
}


.controlIMGandTitle img{
    width: 35%;
   
}
.controlIMGandTitle {
    display: flex;
align-items: center;
justify-content: center;
}
.item p{
    margin-left: 10px;

}

.price{
    text-align: center;
}

.quantity{
    text-align: center;
    

}
.control-inputandRemoveButton{
    display: flex;
    justify-content: center;
}
.quantity input[type=number]{
width: 40px;
height: 40px;
text-align: center;
}

.quantity input[type=button]{
    margin-left: 5px;
    padding: 0px 5px;
}
/* total */
.cart-total{
    text-align: right;
   margin-right: 40px;
   margin-top: 30px;
   position: absolute;
   right: 40px;
   bottom: 0;
}

.purchaseButton{
    display: block;
    margin: auto;
    padding: 5px 10px;
    margin-top: 30px;
}
/* shopping cart */
.section-header{
    text-align: center;
    margin: 30px 0px;
}
/* cart item control image */
.cart-items{
    position: relative;
    height: 200px;
  
}
/* 
.cart-items img{
    margin-left: 20px;

}
.cart-item-title{
  margin-left: 40px;
position: absolute;
top: 20%;


}

.cart-price{
position: absolute;
top: 40%;
left: 40%;
}

.cart-quantity-input{
    position: absolute;
    top: 60%;
    left: 40%; 
}
.removeButton{
    position: absolute;
    top: 60%;
    left: 68%;
}
.cart-column{
    background-color: brown;
    height:200px;
}

.cart-row{
 
}
.controlTheWholeCart{

} */




 /*ipad*/
 @media screen and (max-width: 992px) {
    .gridBox-smallBox img{
        width: 200px;
        height: 200px;

    }
    .rightSide-total{
        width: 45%;
        height: 800px;
        }
        #gotoCartButton{
            right: 100px;
           
            }
             
 }
 
 /*ipad-mini*/
 @media screen and (max-width: 768px) {
 }
 
 /*phone*/
 @media screen and (max-width: 600px) {
    .GridBox-mainBox{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
        width: 90%;
        margin: auto;
    }
    .gridBox-smallBox img{
        width: 200px;
        height: 200px;
    }

    #gotoCartButton{
        position: relative;
     left: 0%;
        top:-30px;
        width: 40%;
        }
        .leftSide-products{
                 width: 100%;
            display: flex;
            justify-content: center;
         align-items: center;
            flex-direction: column;
            
            }
            .rightSide-total{
                width: 80%;
                height: 700px;
                }
                .phoneSizeButton{
                    width: 150px;
                }
                .topBox{
                    width: 80%;
            
                }
 }
