
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif!important;
    
}
html,body{
    overflow-x: hidden;
}

#gotoCartButton{
position: absolute;
right: 200px;
top: 55px;
padding: 5px 10px;
}

.leftSide-products{
    text-align: center;
    position: relative;
    width: 60%;

 
    
    }
 
.mainBox{
font-family: Arial, Helvetica, sans-serif;
margin-top: 40px;
display: flex;
margin-bottom: 50px;

}

.rightside-cart{
    width: 40%;
  
}


.leftSide-products h1{
    text-align: center;
   margin: 50px;
  
}

.GridBox-mainBox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    width: 100%;
 padding: 0px 20px;
  
}

.gridBox-smallBox{

}

.gridBox-smallBox h3{
 margin:20px ;   
}

.gridBox-smallBox img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.controlPriceetAdd2Cart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px ;
}
.controlAllButton{
 margin-left: 15px;
 padding: 5px 10px;
 border: none;
 border-radius: 5px;
 font-weight: bold;
 background-color: black;
 color: white;
}

/* right side box -shopping cart*/

.XclosingCatBox{
    margin-top: 20px;
    margin-left: 20px;
cursor: pointer;
}

.rightSide-total{
background-color: lightgray;
/* width: 0%; */
width: 40%;
height: auto;
position: fixed;
z-index: 1;
right: -500px;
/* overflow-y: scroll; */

}

.checkout-controlPriceAdd2cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:20px ;  
}

.topBox{
    width: 60%;
    margin: auto;
    margin-top: 50px;
}
.topBox img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* cart middle box  */

.controlCartTitle{
    text-align: center;
margin: 50px 0px 20px 0px ;
}


.cartBox-mainBox{

   display: grid;
   grid-template-columns: 2fr 1fr 2fr;
   padding: 15px;
  
}
.cartBox-mainBox h4{
    margin-bottom: 20px;
    text-align: center;
}


.controlIMGandTitle img{
    width: 35%;
   
}
.controlIMGandTitle {
    display: flex;
align-items: center;
justify-content: center;
}
.item p{
    margin-left: 10px;

}

.price{
    text-align: center;
}

.quantity{
    text-align: center;
    

}
.control-inputandRemoveButton{
    display: flex;
    justify-content: center;
}
.quantity input[type=number]{
width: 40px;
height: 40px;
text-align: center;
}

.quantity input[type=button]{
    margin-left: 5px;
    padding: 0px 5px;
}
/* total */
/* .cart-total{
    text-align: right;
   margin-right: 40px;
   margin-top: 30px;
   position: absolute;
   right: 40px;
   bottom: 0;
} */

.purchaseButton{
    display: block;
    margin: auto;
    padding: 5px 10px;
    margin-top: 30px;
}
/* shopping cart */
.section-header{
    text-align: center;
    margin: 30px 0px;
}




/* right side-cart section F */

.cart-header {
    font-weight: bold;
    font-size: 15px;
    color: black;
    }
    
    .cart-column {
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid black; */
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    }
    
    .cart-row {
    display: flex;
    }
    
    .cart-item {
    width: 50%;
    }
    
    .cart-price {
    width: 15%;
    font-size: 15px;
    color: black;
  
    }
.controlItem{
    margin-left: 20px;  
}
    .controlPrice{
        margin-left: -50px;
    }
    
    .cart-quantity {
    width: 35%;
    }
    
    .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 16px;
    }
    
    .cart-item-image {
    width: 75px;
    height: 75px;
    border-radius: 15px;
    }
    /* remove button below */
    .removeButton {
    color: black;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    background-color: lightgray;
    padding: 10px 5px;
    }
    
    .btn-danger:hover {
    background-color: #CC4C4C;
    }
    
    .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: none;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 20px;
    margin-right: 25px;
    }
    
    .cart-row:last-child {
    border-bottom: 1px solid black;
    }
    
    .cart-row:last-child .cart-column {
    border: none;
    }
    
    .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
    }
    
    .cart-total-title {
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-right: 20px;
    }
    
    .cart-total-price {
    color:black;
    font-size: 20px;
    }
    /* purchase button */
    .btn-purchase {
    display: block;
    padding: 10px 15px;
    margin: 40px auto 80px auto;
    font-size:15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    }

    .container {
        max-width: 900px;
        margin: 0 auto;
    
        background-color: #E5D3BF ;
        padding: 3px 20px;
  
        }
        .section-header {
  
        font-weight: normal;
        color: black;
        text-align: center;
        font-size: 30px;
        }

        .content-section {
            margin: 1em;
      
            }



 /*ipad*/
 @media screen and (max-width: 992px) {
    .gridBox-smallBox img{
        width: 200px;
        height: 200px;

    }
    .rightSide-total{
        width: 45%;
        height: 800px;
        }
        #gotoCartButton{
            right: 100px;
           
            }
             
 }
 
 /*ipad-mini*/
 @media screen and (max-width: 768px) {
 }
 
 /*phone*/
 @media screen and (max-width: 600px) {
    .GridBox-mainBox{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
        width: 90%;
        margin: auto;
    }
    .gridBox-smallBox img{
        width: 200px;
        height: 200px;
    }

    #gotoCartButton{
        position: relative;
     left: 0%;
        top:-30px;
        width: 40%;
        }
        .leftSide-products{
                 width: 100%;
            display: flex;
            justify-content: center;
         align-items: center;
            flex-direction: column;
            
            }
            .rightSide-total{
                width: 80%;
                height: 700px;
                }
                .phoneSizeButton{
                    width: 150px;
                }
                .topBox{
                    width: 80%;
            
                }
 }
